# Dependencies
node_modules

# Build output
.next

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs
npm-debug.log*

# Misc
.DS_Store
*.ppk
*.pem

# Environment variables
.env.local
.env
# Production environment variables
.env.production